.Body {
  height: 100vh;
  background-image: url("../../assets/gradient.jpg");
  background-size: cover;
}
.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}
.Child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
}

.num {
  display: inline-block;
  background-color: aqua;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}
.para {
  font-size: smaller;
  font-weight: 200;
}
.forms {
  width: 80%;
  height: 50%;
  border: 1px thin;
  margin-left: 10%;
  background-color: #fff;
  overflow-y: scroll;
  box-shadow: -5px 5px 5px -5px #f8f6ed;
}
.content {
  margin-left: 10%;
  position: relative;
  top: 10%;
}
.content h2 {
  font-family: "Farro", sans-serif;
  font-weight: 400;
}

.first {
  display: flex;
  justify-content: flex-start;
}
.label {
  width: 30%;
}
.para {
  font-family: "Farro", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.input {
  box-sizing: border-box;
  padding: 10px 25px;
  width: 90%;
  border: 2px solid #e9e1c3;
}
.input1 {
  box-sizing: border-box;
  width: 87%;
  padding: 50px 35px;
  border: 2px solid #e9e1c3;
}
.input2 {
  box-sizing: border-box;
  width: 87%;
  padding: 50px 35px;
  border: 2px dotted #e9e1c3;
}
.input2 p {
  text-align: center;
}
.input2 span {
  color: #00a5cf;
}
.footer {
  height: 10%;
  border: 0px solid red;
  width: 80%;

  border-top: 1px solid #e9e1c3;
  margin-left: 10%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}
.footer button {
  margin-top: 10px;
  margin-right: 35px;
}
.footer .btn1 {
  width: 90px;
  height: 35px;
  background-color: #fff;
  border: 2px solid #e9e1c3;
}
.footer .btn2 {
  width: 90px;
  height: 35px;
  background-color: #00a5cf;
  border: 0px solid #e9e1c3;
  color: #fff;
}

.footer .btn1:hover {
  background-color: #00a5cf;
  color: #fff;
}
.footer .btn2:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.933);
}
@media (max-width: 600px) {
  .Body {
    width: 100%;
    background-color: #f4f4f6;
  }
  .Child {
    width: 250px;
  }
  .Child p {
    font-size: smaller;
    font-weight: 100;
  }
  .Child p:nth-child(1) {
    height: 60%;
  }
}
