.Nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.Nav .menuicon {
  display: none;
}

.Nav .brand {
  display: flex;
  align-items: center;
}

.Nav .brand p {
  margin-right: 10px;
  background-color: rgb(39, 136, 247);
  padding: 5px;
  border-radius: 4px;
  color: #fff;
}

.Nav .brand h1 {
  font-weight: 500;
}

.Nav .sidebar {
  display: flex;
  align-items: center;
}

.Nav .sidebar p {
  margin-right: 10px;
  background-color: rgb(39, 136, 247);
  padding: 5px;
  border-radius: 50%;
  color: #fff;
}

.Nav .sidebar h1 {
  font-weight: 500;
  margin-right: 10px;
}

.Nav .sidebar .icon {
  font-size: 20px;
}

@media (max-width: 600px) {
  .Nav .menuicon {
    display: block;
    margin-top: 5px;
    margin-left: 0px;
  }

  .Nav .brand,
  .Nav .sidebar {
    display: none;
  }
}
